* {
	font-family: "Fira Code", monospace;
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
}

body {
	margin: 0;
}

/* #region Media Queries */

@media screen and (min-width: 993px) {
	#main {
		display: -webkit-box;
		display: -ms-flexbox;
		display: flex;
		height: 95vh;
		-webkit-box-orient: horizontal;
		-webkit-box-direction: normal;
		-ms-flex-direction: row;
		flex-direction: row;
		-ms-flex-wrap: wrap;
		flex-wrap: wrap;
	}

	#plot {
		width: 50%;
		height: 75%;
		padding: 10px;
	}

	#commands {
		display: -webkit-box;
		display: -ms-flexbox;
		display: flex;
		width: 50%;
		padding: 0 20px;
		font-size: 2em;
		-webkit-box-orient: vertical;
		-webkit-box-direction: normal;
		-ms-flex-direction: column;
		flex-direction: column;
		-webkit-box-pack: center;
		-ms-flex-pack: center;
		justify-content: center;
	}
}

@media screen and (max-width: 992px) {
	#main {
		display: -webkit-box;
		display: -ms-flexbox;
		display: flex;
		height: 98%;
		width: 95%;
		-webkit-box-orient: vertical;
		-webkit-box-direction: normal;
		-ms-flex-direction: column;
		flex-direction: column;
	}

	#plot {
		height: 50vh;
		padding: 20px;
	}

	#commands {
		display: -webkit-box;
		display: -ms-flexbox;
		display: flex;
		padding: 0 20px;
		font-size: 2em;
		-webkit-box-orient: vertical;
		-webkit-box-direction: normal;
		-ms-flex-direction: column;
		flex-direction: column;
		-webkit-box-pack: center;
		-ms-flex-pack: center;
		justify-content: center;
	}

	h1 {
		font-size: 1.5em;
	}

	#sliderLabel,
	#result {
		font-size: 0.95em;
	}
}

/* #endregion Media Queries */

#title {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	width: 100%;
	height: 25%;
	-webkit-box-orient: vertical;
	-webkit-box-direction: normal;
	-ms-flex-direction: column;
	flex-direction: column;
	-webkit-box-align: center;
	-ms-flex-align: center;
	align-items: center;
	justify-items: center;
}

h1 {
	text-align: center;
	-webkit-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
}

#function {
	font-size: 2em;
	font-weight: bold;
	text-align: center;
	-webkit-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
}

/* #region Arrow Button */

.arrow {
	border: solid black;
	border-width: 0 3px 3px 0;
	display: inline-block;
	padding: 3px;
}

.right {
	-ms-transform: rotate(-45deg);
	transform: rotate(-45deg);
	-webkit-transform: rotate(-45deg);
}

.left {
	-ms-transform: rotate(135deg);
	transform: rotate(135deg);
	-webkit-transform: rotate(135deg);
}

.button {
	-webkit-box-shadow: 2px 2px 5px #000000;
	box-shadow: 2px 2px 5px #000000;
	border: 0px solid #000000;
	height: 50px;
	width: 50px;
	border-radius: 10px;
	background: #ffffff;
	cursor: pointer;
	margin: 10px;
	outline: none;
	text-align: center;
}

.button:active {
	-webkit-transform: scale(0.98);
	-ms-transform: scale(0.98);
	transform: scale(0.98);
}

/* #endregion Arrow Button */

/* #region Input side */

#slider {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-orient: horizontal;
	-webkit-box-direction: normal;
	-ms-flex-direction: row;
	flex-direction: row;
}

#sliderLabel{
	user-select: none;
}

#range {
	width: 100%;
	font-size: 2em;
	text-align: center;
	-webkit-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
	margin: 20px;
}

#latex {
	font-family: "Times New Roman", Symbola, serif;
}

#latex * {
	font-family: "Times New Roman", Symbola, serif;
}

/* #endregion Input side */

/* #region Slider Bar */

#plotSlider {
	height: 48px;
	-webkit-appearance: none;
	margin: 10px 0;
	width: 80%;
}
#plotSlider:focus {
	outline: none;
}
#plotSlider::-webkit-slider-runnable-track {
	height: 15px;
	cursor: pointer;
	-webkit-box-shadow: 1px 1px 3px #000000;
	box-shadow: 1px 1px 3px #000000;
	background: #1db89e;
	border-radius: 5px;
	border: 1px solid #000000;
}
#plotSlider::-webkit-slider-thumb {
	-webkit-box-shadow: 2px 2px 5px #000000;
	box-shadow: 2px 2px 5px #000000;
	border: 0px solid #000000;
	height: 40px;
	width: 40px;
	border-radius: 10px;
	background: #ffffff;
	cursor: pointer;
	-webkit-appearance: none;
	margin-top: -13px;
}
#plotSlider:focus::-webkit-slider-runnable-track {
	background: #1db89e;
}
#plotSlider::-moz-range-track {
	height: 15px;
	cursor: pointer;
	box-shadow: 1px 1px 3px #000000;
	background: #1db89e;
	border-radius: 5px;
	border: 1px solid #000000;
}
#plotSlider::-moz-range-thumb {
	box-shadow: 2px 2px 5px #000000;
	border: 0px solid #000000;
	height: 40px;
	width: 40px;
	border-radius: 10px;
	background: #ffffff;
	cursor: pointer;
}
#plotSlider::-ms-track {
	height: 15px;
	cursor: pointer;
	background: transparent;
	border-color: transparent;
	color: transparent;
}
#plotSlider::-ms-fill-lower {
	background: #1db89e;
	border: 1px solid #000000;
	border-radius: 10px;
	box-shadow: 1px 1px 3px #000000;
}
#plotSlider::-ms-fill-upper {
	background: #1db89e;
	border: 1px solid #000000;
	border-radius: 10px;
	box-shadow: 1px 1px 3px #000000;
}
#plotSlider::-ms-thumb {
	margin-top: 1px;
	box-shadow: 2px 2px 5px #000000;
	border: 0px solid #000000;
	height: 40px;
	width: 40px;
	border-radius: 10px;
	background: #ffffff;
	cursor: pointer;
}
#plotSlider:focus::-ms-fill-lower {
	background: #1db89e;
}
#plotSlider:focus::-ms-fill-upper {
	background: #1db89e;
}

/* #endregion Slider Bar */

/* #region Checkboxes */

[type="checkbox"]:not(:checked),
[type="checkbox"]:checked {
	position: absolute;
	left: 0;
	opacity: 0.01;
}
[type="checkbox"]:not(:checked) + label,
[type="checkbox"]:checked + label {
	position: relative;
	padding-left: 2.3em;
	line-height: 1.7;
	cursor: pointer;
	font-size: 1rem;
	font-weight: bold;
	user-select: none;
}

[type="checkbox"]:not(:checked) + label:before,
[type="checkbox"]:checked + label:before {
	content: "";
	position: absolute;
	left: 0;
	top: 0;
	width: 1.4em;
	height: 1.4em;
	border: 1px solid #aaa;
	background: #fff;
	border-radius: 0.2em;
	box-shadow: inset 0 1px 3px rgba(0, 0, 0, 0.1), 0 0 0 rgba(29, 184, 158, 0.2);
	-webkit-transition: all 0.275s;
	transition: all 0.275s;
}

[type="checkbox"]:not(:checked) + label:after,
[type="checkbox"]:checked + label:after {
	content: "✕";
	position: absolute;
	top: 0.6em;
	left: 0.1em;
	font-size: 1.375em;
	color: #1db89e;
	line-height: 0;
	-webkit-transition: all 0.2s;
	transition: all 0.2s;
}

[type="checkbox"]:not(:checked) + label:after {
	opacity: 0;
	-webkit-transform: scale(0) rotate(45deg);
	transform: scale(0) rotate(45deg);
}

[type="checkbox"]:checked + label:after {
	opacity: 1;
	-webkit-transform: scale(1) rotate(0);
	transform: scale(1) rotate(0);
}

[type="checkbox"]:disabled:not(:checked) + label:before,
[type="checkbox"]:disabled:checked + label:before {
	box-shadow: none;
	border-color: #bbb;
	background-color: #e9e9e9;
}

[type="checkbox"]:disabled:checked + label:after {
	color: #777;
}

[type="checkbox"]:disabled + label {
	color: #aaa;
}

[type="checkbox"]:checked:focus + label:before,
[type="checkbox"]:not(:checked):focus + label:before {
	box-shadow: inset 0 1px 3px rgba(0, 0, 0, 0.1), 0 0 0 6px rgba(29, 184, 158, 0.2);
}

/* #endregion Checkboxes */
